[Unit]
Description=Google News RSS Cleaner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pooza
WorkingDirectory=/home/pooza/repos/google-news-rss-cleaner
Environment=NODE_ENV=production
Environment=NODE_VERSION=v24.13.0
ExecStart=/home/pooza/.nvm/nvm-exec yarn start
TimeoutSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=google-news-rss-cleaner
Restart=always

[Install]
WantedBy=multi-user.target
